<!-- Nav Bar -->
<nav class="navbar navbar-findcond navbar-fixed-top">
    <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">zB&B</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">

        </li>
        <li class="active"><a href="/listings/new">Become a Host <span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="/listings/index">View Listings <span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="/static/home">View Trips <span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
        </li>
        <!-- Customise 'Welcome User' message in Nav Bar -->
      </ul>
      <form class="navbar-form navbar-right search-form" role="search" method='POST' action='/search'>
        <input type="text" class="form-control" placeholder="Search" name ='search'/>
        <button type='submit'>Search!</button>
      </form>
    </div>
  </div>
</nav>